body {
  background-color: #212529ff;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  /* background-image: url("./4P4M.gif"); */
  /* background-size: 280px 280px; */
  /* background-position: center; Center the image */
  /* background-repeat: no-repeat; Do not repeat the image */
}

h1 {
  text-align: center;
  text-align-last: center;
}

@keyframes progress-bar {
  from {
    background-color: rgb(49, 62, 73);
    width: 90vw;
  }
  to {
    width: 0vw;
    background-color: rgb(86, 92, 99);
  }
}

#barra {
  height: 4vh;
  border-radius: 10px;
  animation-name: progress-bar;
  animation-duration: 20s;
  animation-timing-function: linear;
}

a {
  color: white;
  text-align: center;
  text-align-last: center;
}